.rate {
    background: black;
}

h1, h2, h3, h4, h5, h6, a {
    margin: 0;
    padding: 0;
}

.login {
    max-width: 700px;
}
.login-header{
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}

table {
    width: 100%;
    border-collapse: inherit;
}

td {
    color: orange;
    padding: 10px;
    height: 50px;
    border: 1px solid #ccc;
    text-align: left;
    font-weight: bold;
}

.changesBtn {
    margin-left: 10px;
}

.cellName {
    color: white;
    padding-left: 20px;
}

.cellBid {
    color: white;
    text-align: center;
}

.cellBidAskName {
    color: orange;
    text-align: center;
}

.cellAsk {
    color: white;
    text-align: center;
}

.cellRed {
    color: red;
    text-align: center;
}

.cellGreen {
    color: lime;
    text-align: center;
}

.cellGray {
    color: lightslategray;
    text-align: center;
}

.login-header {
    color: midnightblue;
    text-align: center;
    font-size: 150%;
    margin-top: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.login-header h1 {
    text-shadow: 0px 5px 15px #000;
}

.login-form {
    border: 2px solid #999;
    background: #2c3e50;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}

.login-form h3 {
    text-align: left;
    margin-left: 10px;
    color: #fff;
}

.login-form {
    box-sizing: border-box;
    padding-top: 15px;
    margin: 50px auto;
    text-align: center;
    overflow: hidden;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    max-width: 400px;
    height: 30px;
    font-family: 'Ubuntu', sans-serif;
    margin: 10px 0;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    outline: none;
    padding-left: 10px;
}

.login-form input[type="button"] {
    height: 50px;
    width: 200px;
    margin: 20px 20px 20px 20px;
    background: dodgerblue;
    border: 1px solid #2c3e50;
    border-radius: 20px;
    color: white;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.login-form input[type="button"]:hover {
    background: lime;
}

/*Media Querie*/
@media screen and (min-width: 200px) and (max-width: 600px) {
    .login-form h3 {
        text-align: center;
        margin: 0;
    }

    .login-button {
        margin-bottom: 10px;
    }

    .rate {
        background: black;
    }

}


